* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body,
input,
select,
button {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.form-container {
    display: flex;
    padding: 1.5rem;
    width: 100%;
}

#site-form {
    width: 100%;
}

.form-container input {
    height: 2.5rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.site-url-container,
.options-container {
    margin-bottom: 1.5rem;
}

.site-url-container input {
    width: 100%;
}

.form-container select {
    height: 2.5rem;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    outline: none;
    width: 33%;
    background-color: white;
    cursor: pointer;
    margin-right: 1.5rem;
    color: grey;
}

.options-container input {
    width: 33%;
}

input:focus {
    border-bottom-width: 3px;
    transition: all ease 0.3s;
}

.form-container #submit-button {
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    width: 33%;
}

.result-container {
    padding: 1.5rem;
    width: 100%;
}