* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body,
input,
select,
button {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

/* Remove Chrome autofill yellow background ;) */
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.form-container {
    display: flex;
    padding: 1.5rem;
    width: 100%;
}

#site-form {
    width: auto;
    margin: auto;
}

.form-container input {
    height: 2.5rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    transition: box-shadow .4s, -webkit-box-shadow .4s, border .4s;
}

.site-url-container,
.options-container {
    margin-bottom: 1.5rem;
}

.site-url-container input {
    width: 61.5rem;
}

.form-container select {
    height: 2.5rem;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    outline: none;
    width: 30rem;
    background-color: white;
    cursor: pointer;
    margin-right: 1.5rem;
    transition: box-shadow .4s, -webkit-box-shadow .4s, border .4s;
}

/* .options-container::after {
    content: '\0025BE';
} */

input[name="wait"] {
    width: 30rem;
}

input:focus,
select:focus {
    border-bottom-width: 2px;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
}

/* check button */
.form-container #submit-button {
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    width: 30rem;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.form-container #submit-button:hover {
    background-color: rgba(0, 0, 0, 0.10);
    transition: none;
}

.result-container {
    padding: 1.5rem;
    width: 100%;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid grey;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 3rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pa11y-page {
    margin: auto;
}

.error {
    margin: auto;
    width: 61.5rem;
}
