html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #333;
}

li {
    margin-bottom: 15px;
}

h1, h2, p, pre, ul {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
}

h2 {
    font-size: 16px;
}

pre {
    white-space: pre-wrap;
    overflow: auto;
}

hr {
    border: solid 2px #e5e5e5;
    border-width: 2px 0 0 0;
}

.page {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.counts {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.counts button {
    padding: 1rem;
    font-size: 1em;
    line-height: 1em;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background 150ms ease-out;
    outline: 0;
}

.counts button:focus,
.counts button:hover {
    background: rgba(0,0,0,0.05);
    transition: none;
}

.counts button:active {
    background: rgba(0,0,0,0.1);
    transition: none;
}

.count-error {
    color: #ff0000;
}

.count-warning {
    color: #ffae00;
}

.count-notice {
    color: #00b6ff;
}

.clean-list {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.results-list {
    margin-top: 2rem;
}

.result {
    padding: 1rem;
}

.error {
    border-left: solid 3px #ff0000;
}

.warning {
    border-left: solid 3px #ffae00;
}

.notice {
    border-left: solid 3px #00b6ff;
}
